Xcursor.theme: gentoo-silver
Xcursor.size: 48

Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight

XTerm*bellIsUrgent: true
XTerm*boldMode: true
XTerm*borderWidth: 0
XTerm*colorBD: #ffffff
XTerm*colorBDMode: true
XTerm*cursorBlink: false
XTerm*dynamicColors: true
XTerm*faceName: Inconsolata:size=15:style=Regular
XTerm*geometry: 120x40
XTerm*internalBorder: 0
XTerm*jumpScroll: true
XTerm*multiScroll: true
XTerm*locale: true
XTerm*metaSendsEscape: true
XTerm*on4Clicks: group
XTerm*on5Clicks: page
XTerm*reverseVideo: on
XTerm*saveLines: 8192
XTerm*scaleHeight: 1.10
XTerm*termName: xterm-color
XTerm*toolBar: false

Xmessage*form.okay.shapeStyle: rectangle
Xmessage*form.okay.background: IndianRed
Xmessage*form.okay.foreground: rgb:e/b/b
Xmessage*message*background: ivory3
Xmessage*background: gray85
Xmessage*foreground: gray15
Xmessage*Scrollbar.width: 1
Xmessage*Scrollbar.borderWidth: 0
Xmessage*Text.?.cursorColor: rgb:d/5/5
Xmessage*Text.borderColor: gray65
Xmessage*Text*background: gray95
Xmessage*Command.highlightThickness: 1
Xmessage*Command.internalWidth: 5
Xmessage*Command.internalHeight: 3
Xmessage*Command.borderColor: gray40
Xmessage*Command.shapeStyle: Rectangle
Xmessage*Command.background: gray80
Xmessage*font: -*-clean-*-*-*-*-*-*-*-*-*-*-iso8859-2

Emacs*UseXIM: false
