Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight
Xcursor.theme: Adwaita
Xcursor.size: 32

xterm*reverseVideo: off

urxvt.url-launcher: /usr/bin/firefox -new-tab
urxvt.matcher.button: 1
